@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: 0;
    box-sizing: border-box;   
}


body{
    display: flex;
}

/* CSS NAVBAR */

.container .header{
    grid-column-start: 1;
    grid-column-end: -1;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-around;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.nav-container{
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-content: center;
}
.nav-container a{
    color: white;
    margin: 10px;
}
.nav-container .logo img{
    height: 120px;
    width: 120px;
}
.nav-container a:hover{
    color: blueviolet;
}

/* CSS PAGINA  PRINCIPAL*/

.container{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}


.contenido{
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}


.contenido h1{
    font-size: 120px;
    margin-left: 150px;
    margin-top: 220px;
}

.contenido p{
    font-size: 150px;
    font-weight: bolder;
    color: blueviolet;
    margin-left: 150px;
}

.contenido .control{
    height: 550px;
    width: 850px;
    transform: rotate(15deg);
    margin-left: 800px;
    margin-top: -500px;
}

.contenido .play img{
    height: 120px;
    width: 120px;
    margin-left: 300px;
    margin-top: 10px;
}



/* CSS FOOTER */

.container .footer{
    grid-column: span 3;
}


.footer{
    height: 115px;
    background-color: black;
}

footer{
    background: black;
    margin-top: auto;
    height: 105px;
    bottom: 0;
    width: 100%;
    color: white;
}

.grupo-1 .box img{
    height: 75px;
    width: 75px;
    margin-left: 900px;
}
.grupo-2{
    color: white;
    text-align: center;
}


/* CSS PAGINA NOVEDADES */

main{
    height: 100vh;
}

.blog-post{
    width: 100vw;
    max-width: 1600px;
    margin-top: 150px;
    margin-left: 150px;
    padding: 30px;
    background-color: rgb(194, 193, 193);
    box-shadow: 0 1.4rem 8rem rgb(140, 141, 141);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    font-family: 'Roboto', sans-serif;
}

.blog-post-img{
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post-date h4{
    display: block;
    color: rgb(58, 58, 58);
    font-size: 20px;
    font-weight: bold;
    margin: .5rem 0;
}

.blog-post-tittle{
    font-size: 35px;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: black;
}

.blog-post-text{
    margin-bottom: 3rem;
    font-size: 20px;
    color: rgba(0,0,0,.7);
    
}

::-webkit-scrollbar{
    display: none;
}

.footer2{
    width: 100vw;
    margin-top: 700px;
}

/* CSS REVIEWS */

main{
    height: 100vh;
}

.blog-post{
    width: 100vw;
    max-width: 1600px;
    margin-top: 150px;
    margin-left: 150px;
    padding: 30px;
    background-color: rgb(194, 193, 193);
    box-shadow: 0 1.4rem 8rem rgb(140, 141, 141);
    display: flex;
    align-items: center;
    border-radius: .8rem;
}

.blog-post-img{
    min-width: 150px;
    max-width: 150px;
    height: 150px;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post-date h4{
    display: block;
    color: rgb(58, 58, 58);
    font-size: 20px;
    font-weight: bold;
    margin: .5rem 0;
    font-family: 'Roboto', sans-serif;
}

.blog-post-tittle{
    font-size: 35px;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.blog-post-text{
    margin-bottom: 3rem;
    font-size: 20px;
    color: rgba(0,0,0,.7);
    font-weight: 900;
}

::-webkit-scrollbar{
    display: none;
}

.footer2{
    width: 100vw;
    margin-top: 700px;
}

/* CSS IMAGENES */

.image-grid{
    --gap:16px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width:1366px){
    .container{
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }
    
    
    .contenido{
        height: 100vh;
        width: 100vw;
        font-family: 'Roboto', sans-serif;
    }
    
    
    .contenido h1{
        font-size: 60px;
        margin-left: 150px;
        margin-top: 220px;
    }
    
    .contenido p{
        font-size: 80px;
        font-weight: bolder;
        color: blueviolet;
        margin-left: 150px;
    }
    
    .contenido .control{
        height: 450px;
        width: 650px;
        transform: rotate(15deg);
        margin-left: 600px;
        margin-top: -300px;
    }
    
    .contenido .play img{
        height: 60px;
        width: 60px;
        margin-left: 250px;
        margin-top: 10px;
    }
    
    .grupo-1 .box img{
        height: 75px;
        width: 75px;
        margin-left: 620px;
    }

    .blog-post{
        width: 100vw;
        max-width: 1120px;
        margin-top: 150px;
        margin-left: 150px;
        padding: 30px;
        background-color: rgb(194, 193, 193);
        box-shadow: 0 1.4rem 8rem rgb(140, 141, 141);
        display: flex;
        align-items: center;
        border-radius: .8rem;
        font-family: 'Roboto', sans-serif;
    }
    
    .blog-post-img{
        min-width: 150px;
        max-width: 150px;
        height: 150px;
        transform: translateX(-8rem);
        position: relative;
    }
    
    .blog-post-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: .8rem;
    }
    
    .blog-post-date h4{
        display: block;
        color: rgb(58, 58, 58);
        font-size: 20px;
        font-weight: bold;
        margin: .5rem 0;
    }
    
    .blog-post-tittle{
        font-size: 35px;
        margin: 1.5rem 0 2rem;
        text-transform: uppercase;
        color: black;
    }
    
    .blog-post-text{
        margin-bottom: 3rem;
        font-size: 20px;
        color: rgba(0,0,0,.7);
        
    }
    
    
    .footer2{
        width: 100vw;
        margin-top: 1200px;
    }
}